*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h5, .h3, h5, h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-color: black;
}
.h1, h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
}
.nav-link{
    background-color: 29ABE2;
}
.nav-link:hover{
background-color: rgb(8, 155, 234);

}
.nav-link:active{
    background-color: rgb(8, 155, 234);
}
.title::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: 23px;
    background-color: var(--darken-blue);
}
.title-section2::after {
    content: "";
    width: 400px;
    height: 3px;
    background-color: #2c378e;
    display: block;
    margin: 5px 33%;
}

.search-input {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    padding: 5px 10px;
}

.p-5 {
    padding: 3rem!important;
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}

h3.section-title::after {
    content: "";
    display: block;
    width: 93%;
    height: 3px;
    top: 23px;
    background-color:#2c378e;

}
